<!doctype html>
<html>
<head>
    <title>Ruby Burndown Chart</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/static/main.css">
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"
            integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
            crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/main.js"></script>
</head>
<body>
    <div id="header">
        <div class="container">
            <img height="60" src="/static/ruby.png">
            <div id="titles">
                <h1>Ruby Burndown Chart</h1>
                <h2 class="subtitle">Some people just want to watch Ruby burn.</h2>
            </div>
        </div>
    </div>
    <div id="chart">
        <svg width="1000" height="500"></svg>
    </div>
</body>
</html>
